<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Main Page - Amazing Model Store</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>

	<div class="space">
	  <h1>AMAZING MODEL STORE</h1>
	  <img th:src="@{/images/init.jpg}" width="1500" height="500"/>
	</div>

	<div class="class="container"">
	    <div><a class="btn" th:href="@{'/toyouraccount' + '/' + ${user.id}}">Account</a></div>
	    <div><a class="btn" th:href="@{/logout}">Log Out</a></div>
	    <div><a class="btn" th:href="@{'/basketof' + '/' + ${user.id}}">Your basket</a></div>	   
	</div>
	
	<div class="text"><h3>This amazing store has everything you would want in your model collection. We have the most complete and detailed kits, both for beginners and for the most advanced in this hobby.
	Let yourself be guided by our experts. You can add items to your cart and view comments from other users. To do this you must register on our website and be connected.</h3> </div> 
	<div class="container"><h1>Product list:</h1></div>
	<div class="products">
		
		<div class="container">
		<ul>
		   <li th:each="product : ${products}">
			   <div th:text="${product.name}">...</div>
			   <a class="space" href="product.html" th:href="@{'/openproduct' + '/' + ${product.id}}"><img th:src="@{'/images' + '/' + ${product.name} + '.jpg'}" height="150" width="150"/></a>
			</li>
		</ul>
		</div>
   </div>
	
	<div class="socialMedia">
		<ul>
			<li><a th:href="@{mailto:angelote678@gmail.com}" class="fa fa-google">E-MAIL</a></li>
			<li><a th:href="@{https://twitter.com/Angelote678}" class="fa fa-twitter">TWITTER</a></li>
			<li><a th:href="@{https://www.instagram.com/angel_alm__/}" class="fa fa-instagram">INSTAGRAM</a></li>	
		</ul>
		<div class="generic"> TLF: +34 651671557</div>
	</div>
</body>
</html>