<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Product - Amazing Model Store</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/product.css}" />
</head>
<body>
	<div class="container">
	  <h1 class="container" th:text="${product.name}"></h1>
	  <img th:src="@{'/images' + '/' + ${product.name} + '.jpg'}" height="250" width="250"/>
	  <div th:text="${product.description}"></div>
	  <div th:text="${product.price}"></div><div></div>
	  <div><a th:href="@{'/toput' + '/' + ${product.id}}">PUT IN THE BASKET</a></div>
	</div>
	<div class="container">
	  <ul>
		<li th:each="comment : ${product.comments}">
		  <div class="border">
		    <ul>
		      <li th:each="author : ${comment.author}">
		        <div th:text="${author.firstName}"></div>
		        <div th:text="${author.lastName}"></div>
		      </li>
		     </ul>
		    <div class="space" th:text="${comment.content}"></div>
		  </div>
		 </li> 
	  </ul>
	  <div>
        <form th:action="@{/comment}" th:method="post">
          <div>
            <input type="text" th:field=*{comment.content}/>
            <button type="submit">Send</button>
          </div>
        </form>
      </div>
	</div>
	
</body>
</html>