<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Product - Amazing Model Store</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}" />
</head>
<body>
	<div class="container">
	  <h1> Order sent successfully! </h1>
	  <div class="space"> You will pay <a th:text="${order.total + '€'}"></a> for it once delivered, thank you! </div>
	  <div class="space"><a th:href="@{/tohome}">HOMEPAGE</a></div>
	</div>
</body>
</html>