/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
	background: linear-gradient(to bottom right, rgb(113, 113, 142), #FAFCFF);
	font-family: helvetica, arial, geneva, sans-serif; 
	font-size: 1.0em;   /*Tama�o fuente*/
	margin-left: 3em;   /*Tama�o margen izquierdo*/
	margin-right: 3em;  /*Tama�o margen derecho*/
	color: black;/* Color letra */
	
}


.comments{
	background-color: rgb(78, 116, 109);
	border: 2px solid black;
	font-size: 1em; /*Tama�o fuente*/
    padding:2em;
    margin:2em;
    text-align: left;
    border-color: black; 
	
	
}

.specy{
	
	background-color: rgb(78, 116, 109);
	border: 2px solid black;
	font-size: 1em; /*Tama�o fuente*/
    padding:2em;
    margin:2em;
    text-align: left;
   
	
}

h1{
	
	text-align: center;
	font-size: 2.5em; /*Tama�o fuente*/
    font-weight: bold; /*Tipo de negrita*/
    color:navy; /* Color de letra */
    margin:0;
	
}
h2  {	/* Esto afecta a todo h2 */
    font-size: 1.1em; /*Tama�o fuente*/
    color:navy; /* Color de letra */
    border:1em;   /*Tama�o borde*/
    padding:2em;  /*Tama�o padding*/
    margin:2em;    
    text-align: center;
    }
        
h3 {/* Esto afecta a todo h3 */
    font-size: 1em; /*Tama�o fuente*/
    padding:2em;
    margin:2em;
    text-align: center;
    border-color: black; 
    }
    
h4 {/* Esto afecta a todo h4 */
    font-size: 0.9em; /*Tama�o fuente*/
    padding:0;
    margin:0;
    }
    
.description {
	
	background-color: rgb(78, 116, 109);
	border: 2px solid black;
    font-size: 1em; /*Tama�o fuente*/
    padding:2em;
    margin:2em;
    text-align: left;
    clear:both;
    
	
}

a:link { /* Pseudoclase a para links */
    text-decoration: none;  /*links no visitado */
    color: #000066;
    font-weight: bold;
    display:block;
	width:120px;
	background-color:red;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
    }
span.linkheader a:link {  /* Pseudoclase compuesta a para links */
    color: white;   /* Afecta a links no visitados descendientes de un span con clase linkheader*/
    }

span.linkheader a:visited {  /* Pseudoclase compuesta a para links */
    color: white;  /* Afecta a links visitados descendientes de un span con clase linkheader*/
    }

span.linkheader a:hover {  /* Pseudoclase compuesta a para links */
    color: red;  /* Afecta a links cuando pones el raton encima descendientes de un span con clase linkheader*/
    }
a:hover,a:active
{
background-color:pink;
}
ul{
	
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;

}
li{
float:left;
}

.container{

    margin: 20px;
    margin-top: 1cm;
    text-align: center;
    border:1cm;
    border-color: black;
	
}

.space{

    margin:2em;
    text-align: center;
    
}

html{

    height: 100%;
     width: 100%;
 
 }
 body{
	
	height: 100%;
     width: 100%;
}

.border{
	margin:0.5cm;
	border-width: 0.15cm;
	border-color: black;
	border-style:solid;
	
}

